@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

.flex, footer, footer .terminos {
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: #C33C54;
  font-family: "marthoni";
  font-weight: bolder;
  font-style: italic;
  padding: 10px 30px 10px 30px; }

.contacto__titulo,
.contacto-ultimo {
  color: #f5738b;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-top: 10px; }

.contacto__formulario {
  min-height: 80%; }
  .contacto__formulario .formulario {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: space-around; }
    .contacto__formulario .formulario .input {
      margin: 5px;
      font-size: 14px;
      text-align: center;
      border-radius: 10px;
      display: flex; }
      .contacto__formulario .formulario .input:focus {
        background-color: #f5738b;
        transform: scale(1.1);
        transition: background-color 1s; }
  .contacto__formulario .flex-enviar {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto__formulario .flex-enviar .discos {
      margin: 5px;
      font-size: 14px;
      text-align: center;
      border-radius: 10px;
      display: flex; }
  .contacto__formulario .boton-enviar {
    padding: 5px;
    margin: 13px;
    border: 2px solid #5d1979e5;
    background-color: #f8b8f3; }

.boton-enviar:hover {
  transition: color 1s;
  background-color: #5d1979e5;
  color: white; }

h1 {
  display: flex;
  font-size: 35px;
  justify-content: center;
  color: #C33C54;
  font-family: "marthoni";
  font-weight: bolder;
  font-style: italic;
  padding: 10px 30px 10px 30px; }

.main__biografia {
  min-height: 1200px; }
  .main__biografia__titulos {
    color: #f5738b;
    font-style: italic;
    font-size: 18px;
    text-align: center; }

nav {
  background-color: #d803bc; }
  nav .navbar-brand {
    color: white;
    font-style: italic;
    font-weight: bolder; }
  nav .navbar-collapse {
    justify-content: flex-end; }
  nav .nav-link {
    color: #f8f8de; }

.main__discografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 705px; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6" "imagen7 imagen8 imagen9";
  margin: 10px auto;
  min-height: 1500px; }

.grid-container img {
  width: 370px;
  height: 370px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.342); }

.body-grid-container {
  display: flex;
  align-items: center; }

.imagen {
  margin: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s; }

.imagen:hover {
  transform: scale(1.1); }

.imagen1 {
  grid-area: imagen1; }

.imagen2 {
  grid-area: imagen2; }

.imagen3 {
  grid-area: imagen3; }

.imagen4 {
  grid-area: imagen4; }

.imagen5 {
  grid-area: imagen5; }

.imagen6 {
  grid-area: imagen6; }

.imagen7 {
  grid-area: imagen7; }

.imagen8 {
  grid-area: imagen8; }

.imagen9 {
  grid-area: imagen9; }

/* responsive galeria -girahtml */
@media (max-width: 1024px) {
  .grid-container {
    min-height: 1400px; }
  .grid-container img {
    width: 300px;
    height: 300px; } }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 85vw;
    min-height: 2150px;
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen4" "imagen5 imagen6" "imagen7 imagen8" "imagen9 imagen9"; }
  .grid-container img {
    width: 300px;
    height: 300px; } }

@media (max-width: 425px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 50vw;
    height: 900px;
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4" "imagen5" "imagen6" "imagen7" "imagen8" "imagen9"; }
  .grid-container img {
    width: 200px;
    height: 200px; } }

h1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
  color: #C33C54;
  font-family: "marthoni";
  font-weight: bolder;
  font-style: italic;
  padding: 10px 30px 10px 30px; }

h2 {
  color: #f5738b;
  font-style: italic;
  font-size: 18px;
  text-align: center; }

.main__index {
  display: flex;
  align-items: center;
  min-height: 50vh;
  margin: 10px; }
  .main__index p {
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: bold; }
    .main__index p::before {
      content: "✨"; }
  .main__index img {
    width: 400px;
    padding: 5px;
    border-radius: 80%; }

@media (max-width: 767px) {
  .main__index {
    display: flex;
    flex-direction: column; }
    .main__index p {
      font-size: 10px; }
    .main__index img {
      width: 250px; } }

@media (max-width: 594px) {
  h1 {
    font-size: 15px; }
  h2 {
    font-size: 10px;
    margin: 10px 10px 10px 10px; }
  .main__index p {
    font-size: 12px;
    margin: 10px; }
  .main__index img {
    width: 230px; } }

@media (max-width: 404px) {
  h1 {
    display: flex;
    font-size: 15px;
    justify-content: center;
    color: #C33C54;
    font-family: "marthoni";
    font-weight: bolder;
    font-style: italic;
    padding: 10px 30px 10px 30px; }
  h2 {
    color: #f5738b;
    font-style: italic;
    font-size: 12px; }
  .main__index {
    margin: 0;
    padding: 20px;
    min-height: 80vh; }
    .main__index p {
      font-size: 10px; }
    .main__index img {
      width: 190px; } }

footer {
  background-color: #d803bc;
  min-height: 14vh;
  position: fixed;
  bottom: 0;
  width: 100vw; }
  footer .redes {
    display: flex;
    justify-content: center; }
    footer .redes li {
      list-style: none;
      font-size: 1rem;
      margin: .4rem; }
  footer .terminos {
    justify-content: center;
    font-size: 10px; }
    footer .terminos p {
      margin: 0; }
      footer .terminos p a:link {
        color: #fd0303; }
      footer .terminos p a:active {
        color: #580505; }
      footer .terminos p a:visited {
        color: black; }

@media (max-width: 425px) {
  footer {
    min-height: 13vh; } }
