@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

.flex, footer, footer .terminos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fondo, .fondo-biografia {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fdfeff79;
  font-family: "Sacramento", cursive;
  display: flex;
  justify-content: flex-end; }

h1 {
  display: flex;
  font-size: 25px;
  justify-content: center;
  font-family: "Sacramento", cursive;
  font-weight: bolder;
  font-style: italic;
  padding: 10px 30px 10px 30px; }

.contacto__titulo,
.contacto-ultimo {
  color: #f5738b;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-top: 10px; }

.contacto__formulario {
  min-height: 60vh; }
  .contacto__formulario .formulario {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: space-around; }
    .contacto__formulario .formulario .input {
      margin: 5px;
      font-size: 14px;
      text-align: center;
      border-radius: 10px;
      display: flex;
      border: none;
      box-shadow: 0 0 8px rgba(235, 62, 191, 0.342); }
      .contacto__formulario .formulario .input:focus {
        background-color: #f5738b;
        transform: scale(1.1);
        transition: background-color 1s; }
  .contacto__formulario .flex-enviar {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto__formulario .flex-enviar .discos {
      margin: 5px;
      font-size: 14px;
      text-align: center;
      border-radius: 10px;
      display: flex; }
  .contacto__formulario .boton-enviar {
    padding: 5px;
    margin: 13px;
    border: 2px solid #5d1979e5;
    background-color: #f8b8f3; }

.boton-enviar:hover {
  transition: color 1s;
  background-color: #5d1979e5;
  color: white; }

nav {
  background-color: #f5738b; }
  nav .navbar-brand {
    color: white;
    font-style: italic;
    font-weight: bolder; }
  nav .navbar-collapse {
    justify-content: flex-end; }
  nav .nav-link {
    color: #f8f8de; }

.nav-link:hover {
  color: "Sacramento", cursive !important; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6" "imagen7 imagen8 imagen9";
  margin: 10px auto;
  min-height: 80vh; }

.grid-container img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.342);
  width: 400px;
  height: 400px; }

.body-grid-container {
  display: flex;
  align-items: center; }

.imagen {
  margin: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s; }

.imagen:hover {
  transform: scale(1.1); }

.imagen1 {
  grid-area: imagen1; }

.imagen2 {
  grid-area: imagen2; }

.imagen3 {
  grid-area: imagen3; }

.imagen4 {
  grid-area: imagen4; }

.imagen5 {
  grid-area: imagen5; }

.imagen6 {
  grid-area: imagen6; }

.imagen7 {
  grid-area: imagen7; }

.imagen8 {
  grid-area: imagen8; }

.imagen9 {
  grid-area: imagen9; }

/* responsive galeria -girahtml */
@media (max-width: 1024px) {
  .grid-container img {
    width: 300px;
    height: 300px; } }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 81vw;
    min-height: 85vh;
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen4" "imagen5 imagen6" "imagen7 imagen8"; }
  .grid-container img {
    width: 280px;
    height: 280px; }
  .imagen9 {
    display: none; } }

@media (max-width: 425px) {
  .grid-container {
    width: 90vw;
    min-height: 90vh; }
  .grid-container img {
    width: 160px;
    height: 160px; } }

@media (max-width: 375px) {
  .grid-container {
    width: 100vw;
    min-height: 85vh; } }

@media (max-width: 320px) {
  .grid-container img {
    width: 130px;
    height: 130px; } }

.main__discografia {
  display: flex;
  flex-direction: column;
  min-height: 70vh; }

h2 {
  color: #f5738b;
  font-style: italic;
  font-size: 18px;
  text-align: center; }

h3 {
  color: #f5738b;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding: 15px; }

.youtube {
  display: flex;
  margin-bottom: 20px;
  justify-content: center; }

.body-discos {
  font-family: "Sacramento", cursive;
  height: 64vh;
  width: 90vw;
  display: flex; }

.boton {
  color: white;
  text-decoration: none; }

.wrapper {
  position: relative;
  left: 28%;
  width: 100%;
  max-width: 680px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 380px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative; }

.card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4); }

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%); }

.card:hover .descriptions {
  left: 0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%); }

.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97); }

.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px); }

.card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px; }

.card p {
  line-height: 24px;
  height: 70%; }

.card button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all .5s ease-in-out; }

.card button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all .5s ease-in-out; }

footer {
  background-color: #f5738b;
  min-height: 14vh;
  width: 100vw; }
  footer .redes {
    display: flex;
    justify-content: center; }
    footer .redes li {
      list-style: none;
      font-size: 1rem;
      margin: .4rem; }
  footer .terminos {
    justify-content: center;
    font-size: 10px; }
    footer .terminos p {
      margin: 0; }
      footer .terminos p a:link {
        color: #fd0303; }
      footer .terminos p a:active {
        color: #580505; }
      footer .terminos p a:visited {
        color: black; }

@media (max-width: 425px) {
  footer {
    min-height: 13vh; } }

@media (max-width: 320px) {
  footer {
    min-height: 10vh; } }

h1 {
  display: flex;
  font-size: 35px;
  justify-content: center;
  font-family: "Sacramento", cursive;
  font-weight: bolder;
  font-style: italic;
  padding: 10px 30px 10px 30px;
  color: #d91783; }

.fondo-biografia {
  background-image: url("https://res.cloudinary.com/dcsngmqbi/image/upload/v1683824943/harry_xzbfap.jpg"); }

.main__biografia {
  min-height: 50vh;
  padding: 10px; }
  .main__biografia__titulos {
    color: #f5738b;
    font-style: italic;
    font-size: 18px;
    text-align: center; }

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #f162d06e;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #fdfeff; }

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(231 13 174 / 60%); }

.filmografia {
  width: 100vw;
  margin: 15px; }
  .filmografia h3 {
    color: #f5738b;
    font-style: italic;
    font-size: 24px;
    font-weight: bolder; }
  .filmografia h4 {
    color: #f806bc;
    font-size: 21px;
    margin: 20px;
    font-weight: bold; }
  .filmografia__tarjeta {
    background-color: #f98b9f42;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.342);
    width: 90vw;
    margin-left: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; }
    .filmografia__tarjeta__parrafos {
      font-size: 15px;
      margin: 15px; }
    .filmografia__tarjeta__flex {
      display: flex; }
      .filmografia__tarjeta__flex iframe {
        padding: 15px; }

@media (max-width: 768px) {
  .main__biografia {
    min-height: 75vh; } }

@media (max-width: 425px) {
  h1 {
    font-size: 20px !important; } }

.titulo {
  display: flex;
  font-size: 36px;
  justify-content: center;
  font-family: "Sacramento", cursive;
  font-weight: bolder;
  font-style: italic;
  padding: 10px 30px 10px 30px;
  color: #ffffff6e; }

h2 {
  color: #f5738b;
  font-style: italic;
  font-size: 18px;
  text-align: center; }

h1 {
  margin-top: 1rem; }

.header {
  background-image: url("https://res.cloudinary.com/dcsngmqbi/image/upload/v1683739756/Harry1-1_ahowes.webp");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around; }

.main__index {
  display: flex;
  align-items: center;
  min-height: 60vh;
  margin: 10px; }
  .main__index p {
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold; }
    .main__index p::before {
      content: "✨"; }
  .main__index img {
    width: 420px; }

@media (max-width: 767px) {
  .main__index {
    display: flex;
    flex-direction: column; }
    .main__index p {
      font-size: 10px; }
    .main__index img {
      width: 250px; } }

@media (max-width: 594px) {
  h1 {
    font-size: 15px; }
  h2 {
    font-size: 10px;
    margin: 10px 10px 10px 10px; }
  .main__index p {
    font-size: 12px;
    margin: 10px; }
  .main__index img {
    width: 230px; } }

@media (max-width: 404px) {
  h1 {
    display: flex;
    font-size: 15px;
    justify-content: center;
    font-family: "Sacramento", cursive;
    font-weight: bolder;
    font-style: italic;
    padding: 10px 30px 10px 30px; }
  h2 {
    color: #f5738b;
    font-style: italic;
    font-size: 12px; }
  .main__index {
    margin: 0;
    padding: 20px;
    min-height: 80vh; }
    .main__index p {
      font-size: 10px; }
    .main__index img {
      width: 190px; } }
