//extend
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fdfeff79;
    font-family: $titulo-principal;
    display: flex;
    border-radius: 0 0 60% 60% / 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.342);
}

@mixin titulo-principal ($fuente) {
    display: flex;
    font-size: $fuente;
    justify-content: center;
    font-family: $titulo-principal;
    font-weight: bolder;
    font-style: italic;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
}

@mixin titulo-secundario ($fuente) {
    color: #f5738b;
    font-style: italic;
    font-size: $fuente;
    font-weight: bold;
}