@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
$titulo-principal: 'Londrina Solid', cursive;

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
$titulo-secundario: 'Poiret One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$texto: 'Montserrat', sans-serif;
