.contacto_titulo-principal {
    @include titulo-principal(35px);
    margin: 0;
}

.contacto__fondo {
    background: rgb(245,115,139);
background: linear-gradient(124deg, rgba(245,115,139,0.40940126050420167) 1%, rgba(207,193,209,0.17130602240896353) 52%, rgba(245,115,139,0.13769257703081228) 95%);
}

.contacto__titulo,
.contacto-ultimo {
    @include titulo-secundario (14px);
    text-align: center;
    margin-top: 10px;
}

.contacto__formulario {
    min-height: 60vh;

    .formulario {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: space-around;

        .input {
            margin: 5px;
            font-size: 14px;
            text-align: center;
            border-radius: 10px;
            display: flex;
            border: none;
            box-shadow: 0 0 8px rgba(235, 62, 191, 0.342);

            &:focus {
                background-color: #f5738b;
                transform: scale(1.1);
                transition: background-color 1s;
            }
        }
    }

    .flex-enviar {
        display: flex;
        flex-direction: column;
        align-items: center;

        .discos {
            margin: 5px;
            font-size: 14px;
            text-align: center;
            border-radius: 10px;
            display: flex;

        }
    }

    .boton-enviar {
        padding: 5px;
        margin: 13px;
        border: 2px solid #5d1979e5;
        background-color: #f8b8f3;
    }
}

.boton-enviar:hover {
    transition: color 1s;
    background-color: #5d1979e5;
    color: white;
}