 .main__discografia {
     display: flex;
     flex-direction: column;
     min-height: 70vh;
 }

 h2 {
    @include titulo-secundario (18px);
    text-align: center;
    padding: 15px;
}

.youtube {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}


//  @media(max-width: 768px) {
//     .main__discografia{
//         align-items: center;
//     }
//  }