.footer {
    display: flex;
    background-color: $color-principal;
    height: 16vh;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;

    &__redes {
        display: flex;
        list-style: none;

        li {
            font-size: 1rem;
            margin: .4rem;
        }
    }

    &__terminos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        p{
            margin: 0;
        }
    }
}

@media (max-width: 404px) {
    
    .footer {
        height: 9vh;
    }
}