footer {
    @extend .flex;
    background-color: $color-principal;
    min-height: 14vh;
    position: fixed;
    bottom: 0;
    width: 100vw;

    .redes {
        display: flex;
        justify-content: center;
        li {
            list-style: none;
            font-size: 1rem;
            margin: .4rem;
        }
    }

    .terminos {
        @extend .flex;
        justify-content: center;
        font-size: 10px;

        p {
            margin: 0;
            a{
                &:link{
                    color: #fd0303;
                }
                &:active{
                    color:#580505;
                }
                &:visited{
                    color: black;
                }

            }
        }
    }
}

@media (max-width: 425px) {
    footer {
        min-height: 13vh;
    }
}

@media(max-width: 320px) {
    footer{
        min-height: 10vh;
    }
}