.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "imagen1 imagen2 imagen3"
        "imagen4 imagen5 imagen6"
        "imagen7 imagen8 imagen9";
    margin: 10px auto;
    // width: 640px;
    min-height: 1500px;
    // background-color: white;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.342);

}

.grid-container img {
    width: 370px;
    height: 370px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.342);
}

.body-grid-container {
    display: flex;
    align-items: center;
}

.imagen {
    margin: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.imagen:hover {
    transform: scale(1.1);
}

.imagen1 {
    grid-area: imagen1;
}

.imagen2 {
    grid-area: imagen2;
}

.imagen3 {
    grid-area: imagen3;
}

.imagen4 {
    grid-area: imagen4;
}

.imagen5 {
    grid-area: imagen5;
}

.imagen6 {
    grid-area: imagen6;
}

.imagen7 {
    grid-area: imagen7;
}

.imagen8 {
    grid-area: imagen8;
}

.imagen9 {
    grid-area: imagen9;
}

/* responsive galeria -girahtml */

//laptop 
@media (max-width: 1024px) {
    .grid-container {
        min-height: 1400px
    }

    .grid-container img {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 90;
        min-height: 1600px;
        grid-template-areas:
            "imagen1 imagen2"
            "imagen3 imagen4"
            "imagen5 imagen6"
            "imagen7 imagen8";
    }

    .grid-container img {
        width: 300px;
        height: 300px;
    }

    .imagen9 {
        display: none;
    }
}

@media(max-width: 425px) {
    .grid-container {
        width: 90vw;
        min-height: 1000px;
    }

    .grid-container img {
        width: 150px;
        height: 150px;
    }
}

@media(max-width: 375px) {
    .grid-container {
        width: 100vw;
        min-height: 950px;
    }
    .grid-container img {
        width: 140px;
        height: 140px;
    }
}

@media(max-width: 320px) {
    .grid-container img {
        width: 130px;
        height: 130px;
    }
}