h1{
    @include titulo-principal(35px);
}
.main__biografia {
    min-height: 1250px;
    &__titulos{
        @include titulo-secundario (18px);
        text-align: center;
    }
}

@media(max-width: 768px) {
    .main__biografia{
        min-height: 1480px;
    }
}

@media(max-width: 425px) {
    h1{
        font-size: 20px !important;
    }
    .main__biografia{
        min-height: 2100px;
    }
}

@media(max-width: 375px) {
    .main__biografia{
        min-height: 2400px;
    }
}

@media(max-width: 320px) {
    .main__biografia{
        min-height: 3200px;
    }
}