//index.html body
.header {
    background-image: url('https://res.cloudinary.com/dcsngmqbi/image/upload/v1683739756/Harry1-1_ahowes.webp');
    @extend .fondo;
    background-position: center;
    justify-content: center;

    .titulo {
        @include titulo-principal(36px);
        color: #ffffff6e;
    }
}

.main__index {
    display: flex;
    align-items: center;
    min-height: 60vh;
    margin: 10px;

    p {
        margin: 10px 10px 10px 10px;
        text-align: center;
        font-family: $texto;
        font-size: 16px;
        font-weight: bold;

        &::before {
            content: "✨";
        }
    }

    img {
        width: 420px;
    }
}

@media(max-width: 768px) {
    .main__index {
        p {
            font-size: 13px;
        }

        img {
            width: 250px;
        }
    }
}

@media (max-width: 425px) {
    .header {
        .titulo {
            font-size: 28px;
        }
    }

    h1 {
        font-size: 21px;
    }

    .main__index {
        display: flex;
        flex-direction: column;

        p {
            font-size: 12px;
            margin: 10px;
        }

        img {
            width: 200px;
        }
    }
}

@media (max-width: 375px) {
    .header {
        .titulo {
            font-size: 20px;
        }
    }

    h1 {
        font-size: 23px;
        margin: 0;
    }

    .main__index {
        margin: 0;
        padding: 5px;
        min-height: 80vh;

        p {
            font-size: 10px;
        }

        img {
            width: 190px;
        }
    }
}