//index.html body
h1 {
    @include titulo-principal(30px);
}

h2 {
    @include titulo-secundario (18px);
    text-align: center;
}

.main__index {
    display: flex;
    align-items: center;
    min-height: 57vh;
    margin: 10px;

    p {
        margin: 10px 10px 10px 10px;
        text-align: center;
        font-family: $texto;
        font-size: 13px;
        font-weight: bold;

        &::before{
            content: "✨";
        }
    }

    img {
        width: 400px;
        padding: 5px;
        border-radius: 80%;
    }
}

@media(max-width: 767px) {
    .main__index {
        display: flex;
        flex-direction: column;

        p {
            font-size: 10px;
        }

        img {
            width: 250px;
        }
    }
}

@media (max-width: 594px) {
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 10px;
        margin: 10px 10px 10px 10px;
    }

    .main__index {
        p {
            font-size: 12px;
            margin: 10px;
        }

        img {
            width: 230px;
        }
    }
}

@media (max-width: 404px) {
    h1 {
        @include titulo-principal(15px);
    }

    h2 {
        @include titulo-secundario (12px);
    }

    .main__index {
        margin: 0;
        padding: 20px;
        min-height: 80vh;

        p {
            font-size: 10px;
        }

        img {
            width: 190px;
        }
    }
}