h1{
    @include titulo-principal(35px);
}
.main__biografia {
    min-height: 1250px;
    &__titulos{
        @include titulo-secundario (18px);
        text-align: center;
    }
}

@media(max-width: 768px) {
    .main__biografia{
        min-height: 1480px;
    }
}

@media(max-width: 425px) {
    .main__biografia{
        min-height: 2100px;
    }
}