h1{
    @include titulo-principal(35px);
    color: #d91783;
}
.main__biografia {
    min-height: 70vh;
    &__titulos{
        @include titulo-secundario (18px);
        text-align: center;
    }
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #f162d06e;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #fdfeff;
    }
.accordion{
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(231 13 174 / 60%);
}

@media(max-width: 768px) {
    .main__biografia{
        min-height: 75vh;
    }
}

@media(max-width: 425px) {
    h1{
        font-size: 20px !important;
    }
}