//index.html body
.titulo {
    @include titulo-principal(36px);
    color: #ffffff6e;
}

h2 {
    @include titulo-secundario (18px);
    text-align: center;
}

h1 {
    margin-top: 1rem;
}
 
.header{
    background-image: url('https://res.cloudinary.com/dcsngmqbi/image/upload/v1683739756/Harry1-1_ahowes.webp');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.main__index {
    display: flex;
    align-items: center;
    min-height: 60vh;
    margin: 10px;

    p {
        margin: 10px 10px 10px 10px;
        text-align: center;
        font-family: $texto;
        font-size: 16px;
        font-weight: bold;

        &::before{
            content: "✨";
        }
    }

    img {
        width: 420px;
    }
}

@media(max-width: 767px) {
    .main__index {
        display: flex;
        flex-direction: column;

        p {
            font-size: 10px;
        }

        img {
            width: 250px;
        }
    }
}

@media (max-width: 594px) {
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 10px;
        margin: 10px 10px 10px 10px;
    }

    .main__index {
        p {
            font-size: 12px;
            margin: 10px;
        }

        img {
            width: 230px;
        }
    }
}

@media (max-width: 404px) {
    h1 {
        @include titulo-principal(15px);
    }

    h2 {
        @include titulo-secundario (12px);
    }

    .main__index {
        margin: 0;
        padding: 20px;
        min-height: 80vh;

        p {
            font-size: 10px;
        }

        img {
            width: 190px;
        }
    }
}
