nav {
    background-color: $color-principal;

    .container-fluid {
        margin: 0;
        padding: 1px;
    }

    .navbar-brand {
        color: white;
        font-style: italic;
        font-weight: bolder;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-link {
        color: #f8f8de;
    }

}

.nav-link:hover {
    color: $titulo-principal !important;
}